<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <include resource="org/springframework/boot/logging/logback/base.xml"/>

    <appender name="EMAIL" class="ch.qos.logback.classic.net.SMTPAppender">
        <smtpHost>smtpmail.cec.eu.int</smtpHost>
        <from>automated-notifications@nomail.ec.europa.eu</from>
        <to>GROW-ESPD-ADMIN@ec.europa.eu</to>
        <subject>ESPD DEVELOPMENT Monitoring Alert: An error occurred</subject>
        <layout class="ch.qos.logback.classic.html.HTMLLayout" />
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>ERROR</level>
        </filter>
    </appender>

</configuration>