
input.error {
	border: 1px solid #A52A2A !important;
}
textarea.error {
	border: 1px solid #A52A2A !important;
}

.alert-espd-info {
	background-color: #d7e1eb;
}

.espd-container {
	color:#04498a;
	padding-bottom: 15px;
}

h2 {
  font-size: 1.2em;
  font-family: Verdana, Arial, Helvetica, "DejaVu Sans", sans-serif;
  font-weight: bold;
  line-height: 1.5;
}

.fa-li {
	top: 0px;
}

.btn {
	border-radius: 0;
}

.info-label
{
  font-size: 2.3em;
  color: white;
  margin-left: 0.15em;
}

.alert {
	border-radius: 0;
}
 
.form-control {
	border-color: #396ea2;
	border-radius: 0;
}

.form-horizontal .control-label {
	font-weight: normal;
}

.panel-default {
	margin-right: 10px;
	margin-left: 10px;
}

.no-border {
	border: 0
}

.nav-wizard {
	margin-top: 15px;
}

.paragraph {
	margin-left: 2em;
}

.btn-default {
  color: #074A8B !important;
  border-color: #336699 !important;
}

.espd-panel {
  margin-top: 30px;
  top: -10px;
  border-color: #336699 !important;
}

.espd-panel-heading {
  cursor: pointer;
  position: relative;
  border-radius: 0;
  background: #04498a;
  background-image: none, linear-gradient(to bottom, rgba(255, 255, 255, .4) 0, rgba(255, 255, 255, .0) 100%);
  color: #FFFFFF;
  padding: 10px 20px;
  font-size: 0.9em;
  font-weight: bold;
  width: 55%;
  top: -20px;
  left: 20px;
}

.espd-panel-heading:after {
    font-family: "Glyphicons Halflings";
    content: "\e114"
}

.espd-panel-heading.collapsed:after {
	content: "\e080";
}

.noborder {
	outline: none;
	-webkit-box-shadow: none !important;
	-moz-box-shadow: none !important;
	box-shadow: none !important;
	border: none !important;
}

option:disabled {
	background: #ccc;
	padding: 5px;
}

#header {
	position: relative;
	min-height: 145px;
	background-color: #fff;
	line-height: 1.4;
}

#top-lang-selector {
	position: absolute;
	z-index: 10;
	right: 10px;
	top: 10px;
}

#top-lang-selector li {display:inline;padding:3px 0;}

#banner-title-text {
	position: absolute;
	top: 50px;
	right: 10px;
	z-index: 7;
	color: #0466A4;
	font-weight: normal;
	font-size: 200%;
	margin: 0;
	border: none;
}

#banner-env-text {
	position: absolute;
	top: 0px;
	right: 10px;
	z-index: 7;
	color: #FFF;
	font-weight: normal;
	font-size: 170%;
	margin: 0;
	border: none;
}

#banner-sub-title-text {
	position: absolute;
	top: 100px;
	right: 10px;
	z-index: 7;
	color: #FFF;
	font-weight: normal;
	font-size: 170%;
	margin: 0;
	border: none;
}

#banner-image-title-fill {
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	min-height: 145px;
	z-index: 5;
	background: url("/espd/static/img/banner-fill.png");
	background-repeat: round;
}

#banner-image-title {
	position: absolute;
	left: 0;
	top: 0;
	height: 145px;
	z-index: 6;
}

#environment {
	font-size: 20px;
	color: black;
	background-color: white;
	padding: 3px;
	border: 3px solid crimson;
}

#footer {
	text-align: center;
	padding: 20px;
	text-align: center;
	<!--background: #4d4d4a;-->
	color: #FFF;
}

#footer a {
	color: #FFF;
	text-decoration: underline;
}

.breadcrumElement {
	color: white !important;
	text-decoration: none !important;
}

.breadcrumElement a:visited {
	text-decoration: none !important;
	color: white !important;
}

.breadcrumElement a:hover {
	text-decoration: none !important;
	color: white !important;
	border-bottom: 1px solid #FFFFFF !important;
}

.breadcrumElement a:focus {
	text-decoration: none !important;
	color: white !important;
}

.breadcrumElement a:hover,a:active {
	text-decoration: none !important;
	color: white !important;
}

#breadbar .breadcrumbs {
	background-color: #074A8B;
	height: 1.42em;
	list-style: none;
	padding-left: 0px;
	margin-top: 0px;
	margin-left: auto;
	margin-right: auto;
}

.breadcrumbs li+li:before {
	content: ">  ";
}

.breadcrumbs li {
	color: white;
	padding-left: 10px;
	display: inline-block;
}

.langBoxBorder {
	border-left: 1px dotted #aaa;
}

.splashLangDiv {white-space:normal;margin:10px;clear:both; width:15em;}
.splashLangDiv a {white-space:normal;color:#0065a2;font-size:18px;text-decoration:none;vertical-align: middle;}
.splashLangDiv a:hover {
	white-space: normal;
	color: #074A8B;
	font-weight: bold;
}

a.splashLangBox {
	background-color: #0065a2;
	border:2px solid #0065a2;
	color: #fff;
	display:inline-block;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 15px;
	font-weight: bold;
	width: 35px;
	height: 35px;
	text-decoration: none;
	vertical-align: middle;
	text-align: center;
	padding: 5px 5px 0 5px;
}

.splashLangBox:hover {
	background-color: #d7e1eb;
	border:2px solid #0065a2;
	color:#0065a2;
	display:inline-block;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 15px;
	font-weight: bold;
	width: 35px;
	height: 35px;
	text-decoration: none;
	vertical-align: middle;
	text-align: center;
	padding: 5px 5px 0 5px;
} 

